<a href="/catalog">Home</a>
<form method='POST' action=''> 
    <div>
      <label for='book'>Book:
      <select type='select' placeholder='Select book' name='book' required='true'>
        <%- book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});%>
        <% book_list.forEach((book)=> { %>
                    <option value=<%- book._id %> > <%- book.title %></option>
                    <%   }) %>
        </select>    
      </label>
    </div>
    <div>
        <label for="imprint">Imprint:
            <input type="text" placeholder="Publisher and date information" name="imprint" required="true">
        </label>
    </div>
    <div>
        <label for="due_back">Date when book available:
            <input type="date" name="due_back">
        </label>
    </div>
    <div>
        <label for="status">Status:
            <select name="status" type='select' placeholder="Select Status" required="true">
                <option value="Maintenance">Maintenance</option>
                <option value="Available">Available</option>
                <option value="Loaned">Loaned</option>
                <option value="Reserved">Reserved</option>
            </select>
        </label>
    </div>
    <button type="submit">Submit</button>
</form>